* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
}

#navbar-address {
  background-color: #ee2c3c;
}

#navbar-address > h3 {
  padding: 1%;
  font-size: 1.2em;
  font-weight: 500;
  color: #ffffff;
  margin: auto;
  width: fit-content;
}

#navbar-social-media {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
}

#navbar-social-media > div {
  display: flex;
}

#navbar-social-media > div > div > img {
  align-items: center;
  margin: 5px 15px;
}

#navbar-social-media > div > h3 {
  /* display: flex; */
  color: #ee2c3c;
  font-size: 2.5em;
}

#book-appointment-accordian {
  background-color: #fde3e2;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
}

#accordionFlushExample {
  border-radius: 5px;
}

#accordion-div {
  position: relative;
  top: 25px;
  left: 10%;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  width: 100%;
}

.accordion {
  width: 35% !important;
}

#appointment-div {
  position: relative;
  padding: 5%;
  height: 100vh;
  background-color: #fff;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

#arrowIcon {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 40%;
}

#appointment-div > div > h2 {
  font-weight: 500;
  font-size: 2em;
  color: #ee2c3c;
  line-height: 3em;
}

#appointment-div > div > form {
  display: grid;
  flex-direction: column;
}

#appointment-div > div > form > input {
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px 0px;
  font-size: larger;
  border: 1px solid black;
}

#appointment-div > div > form > div > input {
  padding: 10px;
  width: 46%;
  font-size: larger;
  border-radius: 5px;
  margin: 20px 5px 20px 0px;
  border: 1px solid black;
}

#appointment-div > div > form > button {
  background-color: #ee2c3c;
  border-radius: 15px;
  padding: 3%;
  width: 50%;
  margin-top: 2%;
  border: none;
  outline: none;
  color: white;
}

#appointment-inner-div {
  width: 80%;
  margin: auto;
}

#appointment-div > div > form > select {
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px 0px;
  border: 1px solid black;
}

#school-outer-div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  padding: 30px;
  height: fit-content;
}

#school-outer-div > .school-inner-div > div > img {
  width: 95px;
  height: 95px;
  border-radius: 5px;
  margin: 10px;
}

.school-inner-div {
  display: flex;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
}

.school-name,
.school-loca {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 36px;
}

.school-time {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 36px;
  color: #ee2c3c;
}
/* okok */

#top_university {
  text-align: center;
  margin-top: 5%;
  /* font-family:sans-serif; */
}

#span_top {
  color: red;
}

#top_university_images > img {
  width: 90%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#top_university_images {
  margin-top: 5%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

#student-careers {
  padding: 20px;
  background-color: rgb(251, 251, 251);
  margin-top: 3%;
}
#student-careers > div {
  width: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-top: 25px;
  background-color: rgb(251, 251, 251);
}
#student-careers > div > div {
  margin: auto;
  /* margin-top: 25px; */
}
.red {
  color: #ee2c3c;
}
#careers-outer-div > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 25px auto;
}

.careers-up {
  padding: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  background: #ffffff;
  border: 0.5px solid #6a6a6a;
  border-radius: 30px;
  margin: 10px;
}
#list-careers {
  display: flex;
  flex-wrap: wrap;
  /* width: 40%; */
}

#students > div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

#students > h3 {
  text-align: center;
  margin: 15px auto 5% auto;
}

#students > div > img {
  width: 90%;
  height: 75%;
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mid-Main-Container {
  position: relative;
  display: grid;
  margin-top: 12%;
}

#mid-Sub-Main-Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  /* flex-wrap: wrap; */
  width: 90%;
  margin: auto;
  align-items: center;
  /* justify-content: center; */
  padding: 5px 10px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  left: 5%;
}

.mid-Sub-Container {
  width: 100%;
  /* margin: auto; */
}

.borderRight {
  border-right: 1px solid #000000;
}

.mid-Sub-Container > h3 {
  color: #ee2c3c;
}

#mid-Sub-Main-Container2 {
  margin-top: 6%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
  background-color: #4a5568;
  padding: 60px;
  color: white;
  font-size: 1.1rem;
}

#mid-Sub-Main-Container2 > div:first-child {
  font-size: 1.2rem;
}

#mid-Sub-Main-Container2 > div:last-child {
  text-align: right;
  font-size: 1.1rem;
}

#mid-Sub-Main-Container2 > div:last-child > button {
  padding: 1%;
  background: #ee2c3c;
  outline: none;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 17px;
}

#single-img {
  width: 100%;
  margin: 5% auto;
}

#video-div {
  margin: 5% auto 5% auto;
  position: relative;
}

#video-div > h2 {
  text-align: center;
  margin: 2% auto;
}
#video-div > video {
  margin-bottom: 7%;
}
#updot {
  width: 15%;
  position: absolute;
  top: 1%;
  left: 15%;
}
#downdot {
  width: 15%;
  position: absolute;
  bottom: -12%;
  right: 15%;
}

.testimonial {
  margin: 10% auto;
  font-size: xx-large;
  font-weight: 400;
}
#testimonial > div {
  display: grid;
  margin: 3% auto;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
}
#testimonial > h2 {
  margin: 3% 5%;
  font-size: 2em;
  font-weight: 500;
}
#testimonial > div > div {
  position: relative;
  padding: 40px;
  border: 1px solid rgba(238, 44, 60, 0.85);
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
#testimonial > div > div > p {
  margin-top: 15px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
}
.fa-quote-right {
  position: absolute;
  top: -30px;
  padding: 20px;
  color: #ee2c3c;
  border-radius: 50%;
  background-color: #ffffff;
  right: 30px;
}

#video-tag {
  /* height: 300px; */
  display: block;
  width: 60%;
  margin: auto;

  border-radius: 25px;
}

/*  */

#footer {
  padding: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  margin-top: 8%;
  color: #ffffff;
  background-color: #151c2a;
}
#footer h3 {
  font-weight: 400;
  font-size: large;
}

#footer > div {
  margin: auto;
}
.fa-location-dot {
  font-size: x-large;
  margin-right: 5%;
}

#footer-social > div {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
#footer-social > h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
#footer-social > div > i {
  font-size: xx-large;
  margin: 10px 15px;
}

#footer-address > div {
  width: 100%;
}
#footer-address > div > div {
  margin-bottom: 5%;
  display: flex;
  /* justify-content: spa; */
}

#footer-connect > h3 {
  text-align: center;
  margin-bottom: 2em;
}
#footer-connect > div {
  margin-top: 5%;

  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 840px) {
  #navbar-address > h3 {
    font-size: 1em;
    font-weight: 400;
  }
  #book-appointment-accordian {
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  #appointment-div {
    position: relative;
    padding: 5%;
    height: 80vh;
    background-color: #fff;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
  }
  #arrowIcon {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 40%;
  }
  #testimonial > div {
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
    width: 80%;
    margin: auto;
  }
  #top_university_images {
    grid-template-columns: repeat(3, 1fr);
  }
  #student-careers > div {
    grid-template-columns: repeat(1, 1fr);
  }
  #careers-outer-div > h3,
  #careers-outer-div > h2 {
    text-align: center;
    margin-top: 2%;
  }
  /* #video-div > video {
        margin-top: 5%;
      } */
  #accordion-div {
    left: 0%;
  }
  #appointment-div {
    height: 100vh;
  }
  #mid-Sub-Main-Container {
    position: static;
    grid-template-columns: repeat(2, 1fr);
  }
  #mid-Sub-Main-Container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  #mid-Sub-Main-Container2 > div:first-child {
    font-size: 0.9rem;
    text-align: center;
  }

  #mid-Sub-Main-Container2 > div:last-child {
    text-align: center;
    margin-top: 2%;
    font-size: 0.9rem;
  }
  #video-div > h2 {
    text-align: center;
    margin: 2% auto;
    font-size: 0.9rem;
  }
  #footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: fit-content;
  }
  /* #footer>div {
    width: 50%;
  } */
  #footer-connect {
    align-items: center;
    margin-top: -10%;
  }
}

@media only screen and (max-width: 540px) {
  #navbar-address > h3 {
    font-size: 0.5em;
    font-weight: 300;
  }
  #book-appointment-accordian {
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  #navbar-social-media > div > h3 {
    font-size: 1.5em;
  }
  #navbar-social-media > div > div > img {
    width: 50%;
  }
  #accordionFlushExample {
    display: none;
  }
  #accordion-div {
    left: 1%;
  }
  #appointment-div > div > h2 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2em;
  }
  #appointment-div > div > form > button {
    padding: 1%;
  }

  #appointment-div {
    height: 100vh;
  }
  #arrowIcon {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 40%;
  }
  #top_university_images {
    grid-template-columns: repeat(2, 1fr);
  }
  #students > div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  #student-careers > div {
    grid-template-columns: repeat(1, 1fr);
  }
  #careers-outer-div > h3,
  #careers-outer-div > h2 {
    text-align: center;
    margin-top: 2%;
  }
  /* #video-div > video {
        margin-top: 5%;
      } */
 #mid-Sub-Main-Container {
    position: static;
    grid-template-columns: repeat(2, 1fr);
  }
  #mid-Sub-Main-Container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  #mid-Sub-Main-Container2 > div:first-child {
    text-align: center;
    font-size: 0.9rem;
  }

  #mid-Sub-Main-Container2 > div:last-child {
    text-align: center;
    margin-top: 2%;
    font-size: 0.9rem;
  }

  #footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    height: fit-content;
    text-align: center;
    margin-top: 12%;
  }
  #footer>div {
    margin-top: 5%;
}

 #footer-address>div>div {
   margin: auto;
   width: fit-content;
 }
 #testimonial > h2 {
    margin: 3% 5%;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
  }
  #testimonial > div > div > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  #testimonial > div > div > h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

}
